<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<!-- head -->
<head>
</head>
<!-- Content -->
<div layout:fragment="content">
    <div id="layoutSidenav_content">
        <div class="container-fluid px-4">
            <div id="layoutAuthentication">
                <div id="layoutAuthentication_content">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 mr-250 mw-600">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">와인 등록</h3>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <!--                                                <div class="row mb-3">-->
                                            <!--                                                    <div class="col-md-6">-->
                                            <!--                                                        <div class="form-floating mb-3 mb-md-0">-->
                                            <!--                                                            <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" />-->
                                            <!--                                                            <label for="inputFirstName">First name</label>-->
                                            <!--                                                        </div>-->
                                            <!--                                                    </div>-->
                                            <!--                                                    <div class="col-md-6">-->
                                            <!--                                                        <div class="form-floating">-->
                                            <!--                                                            <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" />-->
                                            <!--                                                            <label for="inputLastName">Last name</label>-->
                                            <!--                                                        </div>-->
                                            <!--                                                    </div>-->
                                            <!--                                                </div>-->
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="koreanName" type="text"/>
                                                <label for="koreanName">제품명(한글)</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="originName" type="text"/>
                                                <label for="originName">제품명(영문)</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="type" type="text"/>
                                                <label for="grade">타입</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="grade" type="text"/>
                                                <label for="grade">등급</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="price" type="number" min="100"/>
                                                <label for="price">가격</label>
                                            </div>

                                            <div class="form-radio mb-3 mt-3">
                                                <p class="form-radio-title">타닌(tannin)</p>
                                                <div class="form-radio-group">
                                                    <input type="radio" name="tannin" id="tannin-1" checked>
                                                    <label for="tannin-1">1</label>

                                                    <input type="radio" name="tannin" id="tannin-2">
                                                    <label for="tannin-2">2</label>

                                                    <input type="radio" name="tannin" id="tannin-3">
                                                    <label for="tannin-3">3</label>

                                                    <input type="radio" name="tannin" id="tannin-4">
                                                    <label for="tannin-4">4</label>

                                                    <input type="radio" name="tannin" id="tannin-5">
                                                    <label for="tannin-5">5</label>
                                                </div>
                                            </div>

                                            <div class="form-radio mb-3 mt-3">
                                                <p class="form-radio-title">바디(body)</p>
                                                <div class="form-radio-group">
                                                    <input type="radio" name="body" id="body-1" checked>
                                                    <label for="body-1">1</label>

                                                    <input type="radio" name="body" id="body-2">
                                                    <label for="body-2">2</label>

                                                    <input type="radio" name="body" id="body-3">
                                                    <label for="body-3">3</label>

                                                    <input type="radio" name="body" id="body-4">
                                                    <label for="body-4">4</label>

                                                    <input type="radio" name="body" id="body-5">
                                                    <label for="body-5">5</label>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="inputPassword" type="password"
                                                               placeholder="Create a password"/>
                                                        <label for="inputPassword">Password</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="inputPasswordConfirm"
                                                               type="password" placeholder="Confirm password"/>
                                                        <label for="inputPasswordConfirm">Confirm Password</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid"><a class="btn btn-primary btn-block"
                                                                       href="login.html">등록</a></div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="#">구매 정보 조회 및 등록</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>