<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>ttotw admin</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body class="sb-nav-fixed">
<!-- header fragment 사용 -->
<th:block th:replace="fragments/header :: headerFragment"></th:block>

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <!-- sidebar fragment 사용 -->
        <th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <!-- content fragment 사용 -->
            <th:block layout:fragment="content"></th:block>
        </main>
        <!-- footer fragment 사용 -->
        <th:block th:replace="fragments/footer :: footerFragment"></th:block>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="/js/datatables-simple-demo.js"></script>
<script src="/assets/demo/chart-area-demo.js"></script>
<script src="/assets/demo/chart-bar-demo.js"></script>
</body>
</html>